.main-card__position {
    height: 40%;
    left: 0;
    position: absolute;
    top: calc((100vh / 2) - 20%);
    width: 52%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

.main-card__social {
    position: absolute;
    right: 10px;
    bottom: 10px;
}