.text-primary {
    color: #e31b6d !important;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

.btn-link {
    transition: box-shadow 0.2s ease-out 0s;
}

.btn-link:hover {
    box-shadow: #fff 0 0 0 1px,rgb(255 255 255/.5)0 0 0 6px;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}